.QuestionList-ul {
    margin: 0 auto;
    width: 600px;
    list-style-type: none;
    padding: 0;
}

.QuestionList-li {
    display: flex;
    min-height: 40px;
    border: 1px solid black;
    margin: 10px 0;
}

.QuestionList-li-title {
    line-height: 40px;
    margin-left: 5px;
}