.QuestionList-ul {
    /* С margin: 0 auto некорректно считает margin на сматрфонах в devtools */
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 600px;
    list-style-type: none;
    padding: 0;
}

.QuestionList-li {
    display: flex;
    align-items: center;
    min-height: 40px;
    border: 1px solid black;
    margin: 10px 0;
}

.QuestionList-li-title {
    margin-left: 5px;
}